<!doctype html>
<html>
<head>
<meta charset="UTF-8" />
<title> Megaptera </title>
</head>
<body>
<div id="root"></div>
<script src="https://cdn.jsdelivr.net/npm/requirejs/require.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fratercula/humpback/lib/index.js"></script>
<script>
var config = {
  packages: {
    'react-json-tree': 'https://cdn.jsdelivr.net/npm/react-json-tree/umd/react-json-tree.min.js',
    'global': './global.js',
    'test-name': './test-name.js',
    'pkg-name': './pkg-name.js',
  },
}
var humpback = new window.Humpback(config)
humpback.start()
</script>
</body>
</html>
