<!doctype html>
<html>
<head>
<meta charset="UTF-8" />
<title> Humpback </title>
</head>
<body>
<div id="root"></div>
<script src="https://unpkg.com/requirejs@2.3.6/require.js"></script>
<script src="https://unpkg.com/@fratercula/humpback@0.1.2/lib/index.js"></script>
<script>
var config = {
  packages: {
    global: './global.js',
    entry: './entry.js',
    devtools: './devtools.js',
  },
  page: {
    path: '/',
    entry: 'entry',
    devtools: 'devtools',
  },
}

const humpback = new window.Humpback(config)
humpback.start()
</script>

</body>
</html>
