:global {
  body {
    margin: 0;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}
.error {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #666;

  button {
    border: 1px solid #ddd;
    outline: none;
    background: #fff;
    color: #333;
    padding: 5px 14px;
    border-radius: 3px;
  }
}

.main {
  padding-top: 50px;
}
.nav {
  display: flex;
  justify-content: center;

  a {
    background: #eee;
    padding: 15px 0;
    width: 150px;
    color: #333;
    font-size: 16px;
    text-align: center;
    text-decoration: none;

    &.active {
      background: rgb(43, 142, 199);
      color: #fff;
    }

    &:first-child {
      margin-right: 2px;
    }
  }
}
.components {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
}
