<!doctype html>
<html>
<head>
<meta charset="UTF-8" />
<title> Megaptera </title>
</head>
<body>
<div id="root"></div>
<script src="https://cdn.jsdelivr.net/npm/requirejs/require.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fratercula/humpback@latest/lib/index.js"></script>
<script>
var config = {
  dependencies: {
    react: 'https://cdn.jsdelivr.net/npm/react/umd/react.production.min.js',
    'react-dom': 'https://cdn.jsdelivr.net/npm/react-dom/umd/react-dom.production.min.js',
    'react-router-dom': 'https://cdn.jsdelivr.net/npm/react-router-dom/umd/react-router-dom.min.js',
    nycticorax: 'https://cdn.jsdelivr.net/npm/nycticorax/lib/index.js',
    'react-json-tree': 'https://cdn.jsdelivr.net/npm/react-json-tree/umd/react-json-tree.min.js',
  },
  components: {
    global: './global.js',
    'test-name': './test-name.js',

    // custom
    'switch': 'https://cdn.jsdelivr.net/npm/react-ios-switch@0.1.19/build/bundle.js',
  },
  routes: [
    {
      path: '/',
      name: 'index',
      components: ['switch', {
        name: 'test-name',
        props: { id: 12345 },
      }],
    },
    {
      path: '/switch',
      name: 'switch',
      components: ['switch'],
    }
  ],
}
var humpback = new window.Humpback(config)
humpback.start()
</script>
</body>
</html>
