<!doctype html>
<html>
<head>
<meta charset="UTF-8" />
<title> Megaptera </title>
</head>
<body>
<div id="root"></div>
<script src="https://cdn.jsdelivr.net/npm/requirejs/require.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fratercula/humpback/lib/index.js"></script>
<script>
var config = {
  dependencies: {
    react: 'https://cdn.jsdelivr.net/npm/react/umd/react.production.min.js',
    'react-dom': 'https://cdn.jsdelivr.net/npm/react-dom/umd/react-dom.production.min.js',
    'react-router-dom': 'https://cdn.jsdelivr.net/npm/react-router-dom/umd/react-router-dom.min.js',
    nycticorax: 'https://cdn.jsdelivr.net/npm/nycticorax/lib/index.js',
    'react-json-tree': 'https://cdn.jsdelivr.net/npm/react-json-tree/umd/react-json-tree.min.js',
    're-resizable': './re-resizable.js',
  },
  components: {
    global: './global.js',
    'test-name': './test-name.js',
    'pkg-name': './pkg-name.js',

    // custom
    // antd: 'https://unpkg.com/antd',
  },
}
var humpback = new window.Humpback(config)
humpback.start()
</script>
</body>
</html>
